body {
    background-image: url(https://thumbs.dreamstime.com/b/modern-design-abstract-colorful-weird-wallpaper-background-texture-elements-121278302.jpg);
    background-color: brown;
}   


h1
{color:blue;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
size: 10px;
}
